---
layout: index
---
<div class="logo-container">
  <img src="/assets/img/logo.svg" alt="Luan Illustrates Logo">
</div>

<nav>
  <div class="block-container">
    {% for item in site.data.settings.index-menu %}
      {% if item.type == "block" %}
      <a href="{{ item.url }}">
        <div class="block" id="{{ item.name }}">
          <div class="text-container">
            <span>{{ item.name }}</span>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>

  <div class="other-wrapper">
    <div class="other-container">
      {% for item in site.data.settings.index-menu %}
        {% if item.type == "other" %}
        <div class="other">
          <a href="{{ item.url }}">
            {{ item.name }}
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>
