<div class="sidebar">
  <nav class="sidebar-menu">
    <a href="/" class="logo" id="logo"></a>
    <ul>
      {% for item in site.data.settings.sidebar-menu %}
        <li>
          {% if item.url %}
            <a href="{{ item.url }}" {% if item.sub %}class="sub-item"{% endif %}>{{ item.name }}</a>
          {% else %}
            <span>{{ item.name }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="sidebar-button">
    <div class="text-container">Menu</div>
  </div>
</div>
