.page-container
  position: relative
  max-width: 950px
  left: 25px
  margin: 0 auto
  +clearfix

.content-container
  position: absolute
  // right: 50px
  // left: 50px
  width: 100%
  margin-bottom: 40px
  &.menu-active
    left: 220 + 20px

.page-title
  font:
    weight: 800
    family: 'Source Sans Pro', sans-serif
  text-align: left
  color: #3d3d3d
  text-transform: uppercase

img.emojione
  +size(24px)
  vertical-align: text-bottom
