.page-container
  position: relative
  max-width: 960px
  margin: 0 auto
  +clearfix

.content-container
  position: absolute
  right: 20px
  left: 20px
  &.menu-active
    left: 220 + 20px

.page-title
  font:
    weight: 600
    family: 'Roboto Condensed', sans-serif
