.sidebar-menu
  background: pink

  .logo
    // background: url(http://placehold.it/200x200) no-repeat center center
    background: url(/assets/img/logo.svg) no-repeat center center lightblue
    background-size: cover
    display: inline-block
    +size(220px)

  ul
    padding-left: 20px

    li
      font-size: 24pt
      list-style-type: none

      .sub-item
        margin: 20px
        font-size: 18pt
