<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include sidebar.html %}

    <div class="post">
      <header class="post-header">
        <div class="header-img" style="background-image: url('{{ page.header-img }}')"></div>
        <div class="heading">
          <h1 class="post-title">{{ page.title }}</h1>
          <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>

        </div>
      </header>

      <div class="post-container">
        <article class="post-content">
          {{ content | emojify }}
        </article>
      </div>

    </div>

  </body>

</html>
